<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKinectProviderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49172/KinectProviderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKinectProviderService"
                contract="IKinectProviderService" name="BasicHttpBinding_IKinectProviderService" />
        </client>
    </system.serviceModel>
</configuration>